.navBar{
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav {
    background: black;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed; 
    top: 0; 
    overflow: hidden;
    z-index: 5;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
  }
  
  .centerIcons {
    display: flex;
  }
  
  li {
    padding: 10px;
  }
  
  .user{
    border-radius: 50%;
  }