
.btnShare{
    border-radius: 50%;
    background-color: var(--vermelho2);
    color: white;
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    transition: background 2s;
    transition: text 2s;
}

.btnShare:hover, .btnShare:target{
    background-color: var(--vermelho1);
    font-size: 2.3rem;
    text-align: center;
}

.PostShare{
    display: flex;
    gap: 1rem;
    background-color: var(--cinza1);
    padding: 1rem;
    border-radius: 1rem;
    width: 50%;
}

.PostShare>img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.PostShare>div{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
}

.PostShare>div>input{
    background-color: var(--cinza2);
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
}

::placeholder{
    color: black;
}

.close{
    margin-bottom: 65%;
    margin-right: 0.5rem;
}

.postOptions{
    display: flex;
}

.option{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
}

.option:hover{
    cursor: pointer;
}

.ps-btn{
    border: transparent;
    border-radius: 15%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 0%, rgba(149,15,15,1) 50%, rgba(226,30,30,1) 100%);
    transition: text 3s;
}

.ps-btn:hover, .ps-btn:focus{
    border-color: rgb(255, 0, 0);
    font-size: 1.1rem;
}

.previewImage{
    position: relative;
}


.previewImage>img{
    width: 100%;
    max-width: 25rem;
    max-height: 25rem;
    object-fit: cover;
}

