.Postagem{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cinza2);
    border-radius: 1rem;
    gap: 1rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    z-index: -1;
}

.userDados{
    display: flex;
}

.userDados>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.pfp>img{
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
  
}

.about{
    margin: 1.5%;
    font-size: 1.2rem;
}

.postReaction{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    flex-direction: row; 
}

#img{
    width: 25rem;
    height: 25rem;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.imagem{
    justify-content: center;
    width: 25rem;
    height: 25rem;
    border-radius: 0.5rem;
    object-fit: contain;
    object-position: center;
}

.icones{
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: 6rem;
    fill: var(--vermelho2);
}

.descricao{
 margin-top: 1rem;
 margin-bottom: 2rem;
}

.descricao>span{
    font-size: 1.1rem;
}

.likes{
    font-style: italic;
}



