:root{
  --cinza1: #3F3F3F;
  --cinza2: #7B7B7B;
  --cinza3: #B7B7B7;
  --cinza4: #d0d0d0;
  --preto: #000000;
  --vermelho1: #FC0404;
  --vermelho3: #6d0606;
  --vermelho2: #970101;
}

body{
  background-color: #000000;
}
